<a href="https://colab.research.google.com/github/cpython-projects/da_1709/blob/main/lesson_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = [10, 20, 30]

print(x)

[10, 20, 30]

In [2]:
x[0] = 100

print(x)

[100, 20, 30]

In [6]:
x = [10, 23.34, 'Hello', True, [1, 2, 3]]
x

[10, 23.34, 'Hello', True, [1, 2, 3]]

In [7]:
# List Creation
x = [1, 2, 3, 4]

y = list('Python')

print(x)
print(y)

[1, 2, 3, 4]
['P', 'y', 't', 'h', 'o', 'n']

In [8]:
x = [1, 2, 3]
y = [4, 5, 6]

z = x + y
print(z)

[1, 2, 3, 4, 5, 6]

In [9]:
x = [1, 2, 3]
y = x * 3
print(y)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [11]:
x = [10] * 10
print(x)

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [12]:
x = [1] * 3 + [2] * 3 + [3] * 3
print(x)

[1, 1, 1, 2, 2, 2, 3, 3, 3]

In [15]:
x = [-1, 2, 3, 4, 5, 6, 7, 8, 10, -1]


print(f'min = {min(x)}')
print(f'max = {max(x)}')
print(f'sum = {sum(x)}')
print(f'len = {len(x)}')

min = -1
max = 10
sum = 43
len = 10

# Задачи

**1. Среднее арифметическое оценок**

Список оценок студента:

```python
grades = [67, 75, 80, 95, 100, 72, 88]
```

Посчитать среднее арифметическое.

In [18]:
import math

grades = [67, 75, 80, 95, 100, 72, 88]
print(f'avg / mean = {math.ceil(sum(grades) / len(grades))}')  # round = 82.5 -> 82, 83.5 -> 84

avg / mean = 83

In [26]:
x = [1, 2, 3]
x.append(4)
x

[1, 2, 3, 4]

In [31]:
x = [1, 2, 3, 1, 1, 1]
x.count(1)

4

In [32]:
x.remove(1)
x

[2, 3, 1, 1, 1]

In [33]:
x.remove(10)

ValueError: list.remove(x): x not in list

In [34]:
if 10 in x:
    x.remove(10)

In [35]:
x

[2, 3, 1, 1, 1]

In [36]:
x.index(1)

2

In [37]:
x.index(2)

0

In [38]:
if 2 in x:
  print(x.index(2))

0

In [41]:
x = [40, 10, 20, 30, 40]
x

[40, 10, 20, 30, 40]

In [42]:
y = x.pop()

print(x)
print(y)

[40, 10, 20, 30]
40

In [43]:
y = x.pop(0)
print(x)
print(y)

[10, 20, 30]
40

In [48]:
x = [1, 2, 3, 4]

x.insert(2, 100)
x

[1, 2, 100, 3, 4]

In [49]:
x = [1, 2, 3]

x.reverse()
x

[3, 2, 1]

In [50]:
x = [1, 2, 3]

y = x[::-1]

print(x)
print(y)

[1, 2, 3]
[3, 2, 1]

In [51]:
x = [1, 2, 3, 4]

for item in reversed(x):
    print(item)

4
3
2
1

In [52]:
x = [2, 3, 4, 1, 2, 3]

x.sort()
x

[1, 2, 2, 3, 3, 4]

In [53]:
x = [2, 3, 4, 1, 2, 3]

y = sorted(x)

print(x)
print(y)

[2, 3, 4, 1, 2, 3]
[1, 2, 2, 3, 3, 4]

**2. Медиана зарплат**

Список зарплат сотрудников (грн):

```python
salaries = [12000, 15000, 17000, 90000, 13000, 14000]
```

Найти медиану

In [21]:
salaries = [12000, 15000, 17000, 90000, 13000, 14000]
salaries.sort()

salaries

[12000, 13000, 14000, 15000, 17000, 90000]

In [22]:
if len(salaries) % 2:
    # odd
    median = salaries[len(salaries) // 2] # 1, 2, 3, 4, 5
    print(median)
else:
    # even
    left = salaries[len(salaries) // 2 - 1]
    right = salaries[len(salaries) // 2]
    median = (left + right) / 2
    print(median)

14500.0

In [25]:
import statistics

x = [100, 101, 200, 150, 300, 120, 140, 300, 123, 177, 900, 10000]

avg = statistics.mean(x)
median = statistics.median(x)


print(f'avg = {avg:.2f}')
print(f'median = {median:.2f}')
print(f'sum = {sum(x)}')

avg = 1050.92
median = 163.50
sum = 12611

In [28]:
x = ['low', 'low', 'medium', 'high', 'high', 'high']
print(x.count('low'))
print(x.count('medium'))
print(x.count('high'))

2
1
3

In [29]:
ages = [34, 34, 34, 45, 52, 60, 23, 34]

print(statistics.mean(ages))
print(statistics.median(ages))
print(statistics.mode(ages))

39.5
34.0
34

**3. Усечённое среднее для доходов**

Список доходов людей (грн):

```python
incomes = [10000, 11000, 12000, 15000, 200000, 25000, 9000]
```

Отбросить верхние и нижние 10% значений и посчитать среднее по оставшимся.

In [56]:
incomes = [10000, 11000, 12000, 15000, 200000, 25000, 9000]

res = len(incomes) * 0.1
res

0.7000000000000001

In [57]:
incomes.sort()

In [58]:
incomes

[9000, 10000, 11000, 12000, 15000, 25000, 200000]

In [59]:
incomes.pop()
incomes.pop(0)

# res = incomes[1:-1]
incomes

[10000, 11000, 12000, 15000, 25000]

In [60]:
print(statistics.mean(incomes))
print(statistics.median(incomes))

14600
12000

In [ ]:
statistics.harmonic_mean()
statistics.geometric_mean()

**4. Диапазон значений (размах)**

Список количества заказов пользователей:

```python
orders = [2, 5, 7, 3, 100, 4]
```

Найти размах (max - min)

In [46]:
orders = [2, 5, 7, 3, 100, 4]

In [47]:
min_value = min(orders)
max_value = max(orders)

range_value = max_value - min_value
print(range_value)

98

**5. Межквартильный размах (IQR)**

Список времени (мин) в приложении:

```python
minutes = [5, 6, 7, 7, 8, 9, 20, 25, 30, 100]
```

Найти Q1, Q3 и межквартильный размах

**6. Рейтинг товаров**

```python
ratings = [4.8, 4.2, 3.9, 4.7, 4.0, 2.5, 5.0]
```

Вернуть **топ-3 значения**

In [44]:
ratings = [4.8, 4.2, 3.9, 4.7, 4.0, 2.5, 5.0]
ratings.sort(reverse=True)
ratings

[5.0, 4.8, 4.7, 4.2, 4.0, 3.9, 2.5]

In [45]:
res = ratings[:3]
res

[5.0, 4.8, 4.7]