<a href="https://colab.research.google.com/github/cpython-projects/da_1709/blob/main/lesson_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
salary = 1500
tax = 0


if salary > 2000:
    tax = 0.2

print(f'Salary: {salary * (1 - tax)}')

Salary: 1500

In [10]:
salary = 11500

if salary < 2000:
    tax = 0.1
else:
    tax = 0.2

print(f'Salary: {salary * (1 - tax)}')

Salary: 9200.0

In [12]:
salary = 2000
f_members = 3
tax = 0.3

if salary > 1000 and f_members > 3:
    tax = 0.2


print(f'Salary: {salary * (1 - tax)}')

Salary: 1400.0

In [14]:
salary = 2000
f_members = 3


if salary > 1000:
  if f_members > 3:
    tax = 0.1
  else:
    tax = 0.4
else:
  tax = 0.3


print(f'Salary: {salary * (1 - tax)}')

Salary: 1200.0

In [15]:
salary = int(input('salary>>'))


if salary < 1000:
  level = 'low'
elif salary < 2000:
  level = 'medium'
elif salary < 4000:
  level = 'high'
else:
  level = 'very high'

print(f'Level: {level}')

salary>>3000
Level: high

In [16]:
x = 0

if x == 0:
  print(x)
  x = 10
elif x == 10:
  print(x)
  x = 100
else:
  print(x)


print(x)

0
10

In [17]:
x = 0

if x == 0:
  print(x)
  x = 10

if x == 10:
  print(x)
  x = 100
else:
  print(x)

print(x)

0
10
100

In [19]:
point = int(input('point>>'))

# 0-59 => F
# 60 - 65 => E
# 66 - 74 => D
# 75 - 84 => C
# 85 - 89 => B
# 90-100 => A

point>>89

In [20]:
if point < 0 or point > 100:
  print('N/A')
elif point <= 59:
    print('F')
elif point <= 65:
    print('E')
elif point <= 74:
    print('D')
elif point <= 84:
    print('C')
elif point <= 89:
    print('B')
elif point <= 100:
    print('A')

B

In [ ]:
salary = 2000

if salary > 2000:
  tax = 0.2
else:
  tax = 0.1

print(f'Salary: {salary * (1 - tax)}')

In [ ]:
tax = 0.2 if salary > 2000 else 0.1

print(f'Salary: {salary * (1 - tax)}')

In [21]:
text = ''

bool(text)

False

In [22]:
text = 'false'

bool(text)

True

In [23]:
x = -100

bool(x)

True

In [24]:
x = 0

bool(x)

False

In [ ]:
x = int(input('x>>'))

if x % 2 == 0:
  print('Even')
else:
  print('Odd')

In [ ]:
x = int(input('x>>'))

if x % 2:
  print('Odd')
else:
  print('Even')

In [26]:
x = int(input('x>>'))

if not x % 2:
  print('Even')

x>>4
Even