<a href="https://colab.research.google.com/github/cpython-projects/da_1709/blob/main/lesson_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def add(a, b, c):
    res = a + b + c
    return res

In [4]:
add(13, 14, 5)

32

In [5]:
def greetings():
    return 'Hello world'

In [6]:
greetings()

'Hello world'

In [11]:
def exp(a, b):
  return a ** b


print(exp(2, 7))
print(exp(b=7, a=2))
print(exp(7, 2))

128
128
49

In [12]:
def add(a, b, c=3):
  return a + b + c

print(add(1, 2))
print(add(1, 2, 4))

6
7

In [13]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [15]:
file = open('temp.txt', 'w')

print(12, file=file)

In [21]:
import statistics

def avg_salary_by_q(salary):
  res = {
      'Q1': round(statistics.mean(salary[:3])),
      'Q2': round(statistics.mean(salary[3:6])),
      'Q3': round(statistics.mean(salary[6:9])),
      'Q4': round(statistics.mean(salary[9:]))
  }
  return res

In [22]:
import random


salaries = []
for _ in range(1000):
  tmp = [random.randint(10_000, 50_000) for _ in range(12)]
  salaries.append(tmp)

for salary in salaries[:10]:
  print(avg_salary_by_q(salary))

{'Q1': 31703, 'Q2': 26678, 'Q3': 18471, 'Q4': 31501}
{'Q1': 28509, 'Q2': 30061, 'Q3': 36481, 'Q4': 27810}
{'Q1': 31148, 'Q2': 25744, 'Q3': 31188, 'Q4': 38565}
{'Q1': 24419, 'Q2': 33495, 'Q3': 30531, 'Q4': 36673}
{'Q1': 22391, 'Q2': 23718, 'Q3': 31788, 'Q4': 24624}
{'Q1': 38968, 'Q2': 30462, 'Q3': 45166, 'Q4': 32099}
{'Q1': 22349, 'Q2': 24984, 'Q3': 37995, 'Q4': 21298}
{'Q1': 34305, 'Q2': 24362, 'Q3': 16178, 'Q4': 25620}
{'Q1': 24348, 'Q2': 33420, 'Q3': 26196, 'Q4': 22203}
{'Q1': 29836, 'Q2': 25376, 'Q3': 30119, 'Q4': 37197}

In [31]:
def calc(a: int | float, b: int | float, op: str) -> int | float:
  """
  Returns sum/sub/mul/div of ltwo numbers.
  param a: first number
  param b: second number
  param op: operation to perform
  """
  if op == '+':
    return a + b
  if op == '-':
    return a - b
  if op == '*':
    return a * b
  if op == '/':
    return a / b

  return None

In [33]:
calc(1, 2, '+')

3

In [34]:
id(calc)

136310715647616

In [39]:
calc.__doc__

'\n  Returns sum/sub/mul/div of ltwo numbers.\n  param a: first number\n  param b: second number\n  param op: operation to perform\n  '

In [50]:
data = [
  '1 Bob Simson 19.58$ decorations',
  '2 Mary 66.7$ food',
  '3 Mary 98.91$ toys',
  '4 Aleksa 72.29$ drinks',
  '5 Maria Simson 84.48$ food',
  '6 Aleksa 100.41$ accessories',
  '7 Mary 19.9$ accessories',
  '8 Bob Simson 83.88$ drinks',
  '9 Bob Simson 58.21$ instruments',
  '10 Maria Simson 20.61$ accessories',
  '11 Aleksa 37.74$ drinks',
  '12 Mary 12.32$ drinks',
  '13 Maria Simson 32.11$ toys',
  '14 Maria Simson 94.73$ instruments',
  '15 Mary 52.48$ clothes',
  '16 Maria Simson 87.64$ drinks',
  '17 Jack 70.86$ clothes',
  '18 Bob Simson 134.5$ drinks',
  '19 Jack 4.23$ instruments',
  '20 Jack 62.59$ food',
]

1. Какая общая сумма расходов по каждой категории товаров?
2. Сколько денег потратил каждый член семьи?
3. Какое количество покупок и на какую общую сумму сделал введенный пользователем через input член семьи?

In [51]:
from collections import defaultdict

def data_preprocess(data):
  res = []
  for item in data:
    _, *name, money, category = item.split()
    name = ' '.join(name)
    money = float(money.strip('$'))
    res.append((name, money, category))
  return res


def get_total_expenses_by_category(data):
  res = defaultdict(float)
  for _, money, category in data:
    res[category] += money
  return res


def get_total_expenses_by_person(data):
  res = defaultdict(float)
  for name, money, _ in data:
    res[name] += money
  return res

def get_total_expenses_by_person_by_category(data, user_name):
  res = defaultdict(float)
  for name, money, category in data:
    if name == user_name:
      res[category] += money
  return res


data = data_preprocess(data)
res1 = get_total_expenses_by_category(data)
print(*res1.items(), sep='\n')

print('*' * 50)

res2 = get_total_expenses_by_person(data)
print(*res2.items(), sep='\n')

print('*' * 50)

user_name = input('Enter user name: ')
res3 = get_total_expenses_by_person_by_category(data, user_name)
print(*res3.items(), sep='\n')

('decorations', 19.58)
('food', 213.77)
('toys', 131.01999999999998)
('drinks', 428.37)
('accessories', 140.92000000000002)
('instruments', 157.17)
('clothes', 123.34)
**************************************************
('Bob Simson', 296.16999999999996)
('Mary', 250.31)
('Aleksa', 210.44)
('Maria Simson', 319.57)
('Jack', 137.68)
**************************************************
Enter user name: Mary
('food', 66.7)
('toys', 98.91)
('accessories', 19.9)
('drinks', 12.32)
('clothes', 52.48)

In [56]:
def filter_even(numbers):
  res = []
  for item in numbers:
    if item % 2 == 0:
      res.append(item)
  return res

def filter_positive(numbers):
  res = []
  for item in numbers:
    if item > 0:
      res.append(item)
  return res


def filter_negative(numbers):
  res = []
  for item in numbers:
    if item < 0:
      res.append(item)
  return res

In [57]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -50, -100, -23]
print(filter_even(numbers))
print(filter_positive(numbers))
print(filter_negative(numbers))

[2, 4, 6, 8, 10, -50, -100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-50, -100, -23]

In [60]:
def is_odd(item):   # lambda item: item % 2
  return item % 2

def is_positive(item):
  return item > 0

def is_negative(item):
  return item < 0


def filter(numbers, func):
  res = []
  for item in numbers:
    if func(item):
      res.append(item)
  return res



numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -50, -100, -23]
print(filter(numbers, is_odd))
print(filter(numbers, is_positive))
print(filter(numbers, is_negative))

[1, 3, 5, 7, 9, -23]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-50, -100, -23]

In [61]:
def filter(numbers, func):
  res = []
  for item in numbers:
    if func(item):
      res.append(item)
  return res



numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -50, -100, -23]
print(filter(numbers, lambda item: item > 0))
print(filter(numbers, lambda item: item < 0))
print(filter(numbers, lambda item: item % 2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-50, -100, -23]
[1, 3, 5, 7, 9, -23]

In [62]:
x = ['ferfrefr', 'de3d3ed', 'ed3ede3d', '2e324eqwdqwd', 'fgfgfffaaaaaaaaaaaa', 'jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj']

max(x, key=lambda item: item.count('a'))

'fgfgfffaaaaaaaaaaaa'