<a href="https://colab.research.google.com/github/cpython-projects/da_1709/blob/main/lesson_25_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# `CASE WHEN`

In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
import plotly.express as px

In [2]:
DB_USER = "prog_academy_da_yuq6_user"
DB_PASS = "nKLaf3orGpgat1GEpFbkuNVtxcNAGJp1"
DB_HOST = "dpg-d519e97pm1nc73briqk0-a.oregon-postgres.render.com"
DB_PORT = "5432"
DB_NAME = "prog_academy_da_yuq6"

In [3]:
engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

**`CASE WHEN`** ‚Äî —Ü–µ —É–º–æ–≤–Ω–∏–π –æ–ø–µ—Ä–∞—Ç–æ—Ä —É SQL, –∞–Ω–∞–ª–æ–≥ `if / else`, —è–∫–∏–π –¥–æ–∑–≤–æ–ª—è—î
–ø–æ–≤–µ—Ä—Ç–∞—Ç–∏ —Ä—ñ–∑–Ω—ñ –∑–Ω–∞—á–µ–Ω–Ω—è –∑–∞–ª–µ–∂–Ω–æ –≤—ñ–¥ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —É–º–æ–≤.

–í—ñ–Ω **–Ω–µ —î –≤—ñ–∫–æ–Ω–Ω–æ—é —Ñ—É–Ω–∫—Ü—ñ—î—é**, –∞–ª–µ **–¥—É–∂–µ —á–∞—Å—Ç–æ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—î—Ç—å—Å—è —Ä–∞–∑–æ–º —ñ–∑ –Ω–∏–º–∏** –¥–ª—è:

* —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –æ–∑–Ω–∞–∫ (features)
* —Å–µ–≥–º–µ–Ω—Ç–∞—Ü—ñ—ó –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ–≤
* –∫–ª–∞—Å–∏—Ñ—ñ–∫–∞—Ü—ñ—ó –ø–æ–¥—ñ–π

---

## –ë–∞–∑–æ–≤–∏–π —Å–∏–Ω—Ç–∞–∫—Å–∏—Å

```sql
CASE
    WHEN —É–º–æ–≤–∞_1 THEN —Ä–µ–∑—É–ª—å—Ç–∞—Ç_1
    WHEN —É–º–æ–≤–∞_2 THEN —Ä–µ–∑—É–ª—å—Ç–∞—Ç_2
    ELSE —Ä–µ–∑—É–ª—å—Ç–∞—Ç_–∑–∞_–∑–∞–º–æ–≤—á—É–≤–∞–Ω–Ω—è–º
END
```

üìå –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –π–¥–µ **–∑–≤–µ—Ä—Ö—É –≤–Ω–∏–∑** ‚Äî –≤–∏–∫–æ–Ω—É—î—Ç—å—Å—è **–ø–µ—Ä—à–∞ —ñ—Å—Ç–∏–Ω–Ω–∞ —É–º–æ–≤–∞**.

---

## –ü—Ä–æ—Å—Ç–∏–π –ø—Ä–∏–∫–ª–∞–¥

```sql
SELECT total_uah,
       CASE
           WHEN total_uah >= 200 THEN 'high'
           WHEN total_uah >= 100 THEN 'medium'
           ELSE 'low'
       END AS order_size
FROM orders_log;
```

**–õ–æ–≥—ñ–∫–∞:**

* —è–∫—â–æ —Å—É–º–∞ ‚â• 200 ‚Üí `high`
* —ñ–Ω–∞–∫—à–µ —è–∫—â–æ ‚â• 100 ‚Üí `medium`
* —ñ–Ω–∞–∫—à–µ ‚Üí `low`

---

## `CASE WHEN` + –≤—ñ–∫–æ–Ω–Ω—ñ —Ñ—É–Ω–∫—Ü—ñ—ó

–ù–∞–π–ø–æ—à–∏—Ä–µ–Ω—ñ—à–∏–π —Å—Ü–µ–Ω–∞—Ä—ñ–π ‚Äî **–∫–ª–∞—Å–∏—Ñ—ñ–∫–∞—Ü—ñ—è –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É window-—Ñ—É–Ω–∫—Ü—ñ—ó**.

### –ü—Ä–∏–∫–ª–∞–¥: –ø–µ—Ä—à–∞ —á–∏ –ø–æ–≤—Ç–æ—Ä–Ω–∞ –ø–æ–∫—É–ø–∫–∞

```sql
SELECT user_uuid, order_time, total_uah,
       CASE
           WHEN ROW_NUMBER() OVER (
                    PARTITION BY user_uuid
                    ORDER BY order_time
                ) > 1 THEN 'R'
           ELSE 'F'
       END AS purchase_type
FROM orders_log;
```

### –Ø–∫ —Ü–µ –ø—Ä–∞—Ü—é—î –ø–æ –∫—Ä–æ–∫–∞—Ö:

1. `ROW_NUMBER()` –Ω—É–º–µ—Ä—É—î –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á–∞
2. `CASE WHEN` –ø–µ—Ä–µ–≤—ñ—Ä—è—î –Ω–æ–º–µ—Ä:

   * `1` ‚Üí –ø–µ—Ä—à–∞ –ø–æ–∫—É–ø–∫–∞ (`F`)
   * `>1` ‚Üí –ø–æ–≤—Ç–æ—Ä–Ω–∞ (`R`)
3. –†–µ–∑—É–ª—å—Ç–∞—Ç ‚Äî **–Ω–æ–≤–∏–π –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–∏–π —Å—Ç–æ–≤–ø–µ—Ü—å**

## –û–±–æ–≤‚Äô—è–∑–∫–æ–≤–∏–π `ELSE`

–Ø–∫—â–æ **–Ω–µ –≤–∫–∞–∑–∞—Ç–∏ `ELSE`**, SQL –ø–æ–≤–µ—Ä–Ω–µ `NULL`.

```sql
CASE
    WHEN total_uah > 100 THEN 'big'
END
```

üìå –Ø–∫—â–æ –∂–æ–¥–Ω–∞ —É–º–æ–≤–∞ –Ω–µ –≤–∏–∫–æ–Ω–∞–ª–∞—Å—å ‚Üí `NULL`

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—è:** –∑–∞–≤–∂–¥–∏ —è–≤–Ω–æ –≤–∫–∞–∑—É–≤–∞—Ç–∏ `ELSE`.

---

## –¢–∏–ø–∏ –¥–∞–Ω–∏—Ö —É `CASE`

–£—Å—ñ `THEN` —ñ `ELSE` –º–∞—é—Ç—å –ø–æ–≤–µ—Ä—Ç–∞—Ç–∏ **—Å—É–º—ñ—Å–Ω—ñ —Ç–∏–ø–∏**:

‚ùå –ù–µ–ø—Ä–∞–≤–∏–ª—å–Ω–æ:

```sql
CASE
    WHEN total_uah > 100 THEN 'big'
    ELSE 0
END
```

‚úÖ –ü—Ä–∞–≤–∏–ª—å–Ω–æ:

```sql
CASE
    WHEN total_uah > 100 THEN 1
    ELSE 0
END
```

–∞–±–æ

```sql
CASE
    WHEN total_uah > 100 THEN 'big'
    ELSE 'small'
END
```

---

## –ö–æ–ª–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–≤–∞—Ç–∏ `CASE WHEN`

*  —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è —Å–µ–≥–º–µ–Ω—Ç—ñ–≤  
*  –ª–æ–≥—ñ—á–Ω—ñ –ø—Ä–∞–ø–æ—Ä—Ü—ñ (0/1, Y/N, F/R)  
*  –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü—ñ—è —á–∏—Å–µ–ª  
*  –æ–±—Ä–æ–±–∫–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ñ–≤ window-—Ñ—É–Ω–∫—Ü—ñ–π

**–ó–∞–≤–¥–∞–Ω–Ω—è 1. –û–∑–Ω–∞–∫–∞ –ø–æ–≤—Ç–æ—Ä–Ω–æ—ó –ø–æ–∫—É–ø–∫–∏**  
–ß–∏ –∑—Ä–æ–±–∏–≤ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á —â–æ–Ω–∞–π–º–µ–Ω—à–µ 2 –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è?

**–ó–∞–≤–¥–∞–Ω–Ω—è 2. –¢–∏–ø –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á–∞: one-time / repeat / heavy**  
–î–æ —è–∫–æ–≥–æ —Ç–∏–ø—É –Ω–∞–ª–µ–∂–∏—Ç—å –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á –∑–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—é –∑–∞–º–æ–≤–ª–µ–Ω—å?

**–ó–∞–≤–¥–∞–Ω–Ω—è 3. –ü–µ—Ä—à–µ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è —á–∏ –ø–æ–≤—Ç–æ—Ä–Ω–µ**  
–ß–∏ —î —Ü–µ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –ø–µ—Ä—à–∏–º –¥–ª—è –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á–∞?

**–ó–∞–≤–¥–∞–Ω–Ω—è 4. –ó—Ä–æ—Å—Ç–∞–Ω–Ω—è –∞–±–æ –ø–∞–¥—ñ–Ω–Ω—è —á–µ–∫–∞**  
–Ø–∫ –∑–º—ñ–Ω–∏–≤—Å—è —á–µ–∫ –ø–æ—Ä—ñ–≤–Ω—è–Ω–æ –∑ –ø–æ–ø–µ—Ä–µ–¥–Ω—å–æ—é –ø–æ–∫—É–ø–∫–æ—é?

**–ó–∞–≤–¥–∞–Ω–Ω—è 5. –ó–∞–º–æ–≤–ª–µ–Ω–Ω—è –≤–∏—â–µ —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ –¥–ª—è –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á–∞**  
–ß–∏ —î —Ü–µ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –≤–∏—â–∏–º –∑–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á–∞?

**–ó–∞–≤–¥–∞–Ω–Ω—è 6. –û–∑–Ω–∞–∫–∞ –≤—ñ–¥—Ç–æ–∫—É –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á–∞ (churn flag)**  
–ö–æ—Ä–∏—Å—Ç—É–≤–∞—á –Ω–µ —Ä–æ–±–∏–≤ –ø–æ–∫—É–ø–æ–∫ –±—ñ–ª—å—à–µ N –¥–Ω—ñ–≤ (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, 30)?