<a href="https://colab.research.google.com/github/cpython-projects/da_1709/blob/main/lesson_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = {1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 4, 5}

print(x)

{1, 2, 3, 4, 5}

In [2]:
x.add('Hello')

x

{1, 2, 3, 4, 5, 'Hello'}

In [3]:
len(x)

6

In [4]:
min(x), max(x)

TypeError: '<' not supported between instances of 'str' and 'int'

In [6]:
1 in x

True

In [7]:
1 not in x

False

In [8]:
for item in x:
  print(item)

1
2
3
4
5
Hello

In [9]:
a = [12, 23, 23, 1, 2, 1, 45]
b = [34, 23, 12, 12, 35, 56]

res = []

for item_a in a:
    if (item_a in b) and (item_a not in res):
        res.append(item_a)

res

[12, 23]

In [10]:
a = [12, 23, 23, 1, 2, 1, 45]
b = [34, 23, 12, 12, 35, 56]


res = set(a) & set(b)
print(res)

{12, 23}

## **1. Анализ продаж по категориям**

**Данные:**

```python
sales = {
    "Electronics": [1200, 2300, 3100, 800],
    "Clothing": [400, 560, 700, 350],
    "Home": [900, 1200, 1500, 1300]
}
```

**Задача:**
Найди категорию с **максимальным средним чеком** (средней продажей).
Выведи название категории и среднее значение.

In [19]:
sales = {
    "Electronics": [1200, 2300, 3100, 800],
    "Clothing": [400, 560, 700, 350],
    "Home": [900, 1200, 1500, 1300]
}

values = list(sales.values())
keys = list(sales.keys())
print(values)
print(keys)

[[1200, 2300, 3100, 800], [400, 560, 700, 350], [900, 1200, 1500, 1300]]
['Electronics', 'Clothing', 'Home']

In [22]:
import statistics

res_max = list(map(statistics.mean, values))
index = res_max.index(max(res_max))

In [23]:
keys[index]

'Electronics'

## **2. Подсчет уникальных клиентов**

**Данные:**

```python
clients_jan = {"A123", "B404", "C222", "D111", "E909"}
clients_feb = {"C222", "E909", "F300", "G777", "H555"}
```

**Задача:**
Найди:

1. Сколько **уникальных клиентов** было за два месяца.
2. Сколько клиентов совершили **повторную покупку** (в обоих месяцах).

In [27]:
clients_jan = {"A123", "B404", "C222", "D111", "E909"}
clients_feb = {"C222", "E909", "F300", "G777", "H555"}

# 1
res = clients_feb ^ clients_jan
print(res)
print(len(res))

# 2
res = clients_feb & clients_jan
print(res)
print(len(res))

{'G777', 'A123', 'F300', 'B404', 'D111', 'H555'}
6
{'E909', 'C222'}
2

## **5. Анализ цен конкурентов**

**Данные:**

```python
competitors = {
    "StoreA": {"milk": 1.2, "bread": 0.8, "eggs": 2.1},
    "StoreB": {"milk": 1.1, "bread": 0.9, "eggs": 2.0},
    "StoreC": {"milk": 1.3, "bread": 0.85, "eggs": 2.05}
}
```

**Задача:**
Для каждого товара найди **среднюю цену по рынку**.
Выведи результат в виде словаря:
`{"milk": ..., "bread": ..., "eggs": ...}`

In [28]:
competitors = {
    "StoreA": {"milk": 1.2, "bread": 0.8, "eggs": 2.1},
    "StoreB": {"milk": 1.1, "bread": 0.9, "eggs": 2.0},
    "StoreC": {"milk": 1.3, "bread": 0.85, "eggs": 2.05}
}

In [33]:
from collections import defaultdict

res = defaultdict(list)

for items in competitors.values():
  for food, price in items.items():
    res[food].append(price)

print(*res.items(), sep='\n')

('milk', [1.2, 1.1, 1.3])
('bread', [0.8, 0.9, 0.85])
('eggs', [2.1, 2.0, 2.05])

In [34]:
res_statistics = {}

for food, price in res.items():
  res_statistics[food] = (statistics.mean(price), max(price), min(price))


print(*res_statistics.items(), sep='\n')

('milk', (1.2, 1.3, 1.1))
('bread', (0.85, 0.9, 0.8))
('eggs', (2.05, 2.1, 2.0))

## **6. Подсчет просмотров по регионам**

**Данные:**

```python
views = [
    {"region": "Europe", "user_id": "U1"},
    {"region": "Asia", "user_id": "U2"},
    {"region": "Europe", "user_id": "U3"},
    {"region": "Asia", "user_id": "U2"},
    {"region": "Europe", "user_id": "U1"}
]
```

**Задача:**

1. Подсчитай количество **уникальных пользователей** в каждом регионе.
2. Выведи регион с **наибольшим числом активных пользователей**.

In [35]:
views = [
    {"region": "Europe", "user_id": "U1"},
    {"region": "Asia", "user_id": "U2"},
    {"region": "Europe", "user_id": "U3"},
    {"region": "Asia", "user_id": "U2"},
    {"region": "Europe", "user_id": "U1"}
]

In [38]:
users = set()


for item in views:
  users.add(item['user_id'])

print(len(users))

3

In [39]:
res = defaultdict(set)


for item in views:
  res[item['region']].add(item['user_id'])

print(*res.items(), sep='\n')

('Europe', {'U3', 'U1'})
('Asia', {'U2'})

In [40]:
regions = list(res.keys())
users_by_regions = list(map(len, res.values()))

print(regions)
print(users_by_regions)

['Europe', 'Asia']
[2, 1]

In [41]:
index = users_by_regions.index(max(users_by_regions))
print(regions[index])

Europe

## **7. Сравнение категорий покупок пользователей**

**Данные:**

```python
user_categories = {
    "Alice": {"Electronics", "Books", "Home"},
    "Bob": {"Books", "Clothing"},
    "Clara": {"Electronics", "Books", "Sports"}
}
```

**Задача:**
Найди товары (категории), которые **интересны всем пользователям**.
(Используй пересечение множеств.)

In [42]:
user_categories = {
    "Alice": {"Electronics", "Books", "Home"},
    "Bob": {"Books", "Clothing"},
    "Clara": {"Electronics", "Books", "Sports"}
}

In [43]:
categories = user_categories.values()
categories

dict_values([{'Home', 'Electronics', 'Books'}, {'Clothing', 'Books'}, {'Electronics', 'Books', 'Sports'}])

In [45]:
res = set.intersection(*user_categories.values())
print(res)

{'Books'}