<a href="https://colab.research.google.com/github/cpython-projects/da_1709/blob/main/lesson_02_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1.** Цена товара — 799.99. Скидка — 15%. Вычислите сумму скидки и итоговую цену.

In [3]:
price = 799.99
discount = 0.15


print(f'Discount: {price * discount:.2f}')
print(f'Total price: {price * (1 - discount):.2f}')

Discount: 120.00
Total price: 679.99

**Task 2.** Один товар стоит 349.75. Клиент купил 4 штуки. Найдите общую стоимость заказа.

In [4]:
item = 349.75
quantity = 4


print(f'Total price: {item * quantity:.2f}')

Total price: 1399.00

**Task 3.** Цена товара в евро: 129.99.  
Курс: 1 евро = 1.08 долл. США.  
Найдите цену товара в долл США.

In [5]:
price = 129.99
rate = 1.08

print(f'Price in ISD is {price * rate:.2f}')

Price in ISD is 140.39

**Task 4.** Цена товара 543.6789.  
Округлите:
-  до двух знаков после запятой
-  до целого числа

In [14]:
price = 542.5

In [15]:
print(f'Price: {price:.2f}')

rounded_price = round(price, 2)
print(f'Price: {rounded_price}')

Price: 542.50
Price: 542.5

In [16]:
print(f'Price: {round(price)}')

Price: 542

**Task 5.** Цена без налога: 999.50 грн. НДС: 20%  
Найдите сумму налога и итоговую цену, округлив результат до двух знаков после запятой

In [17]:
price = 999.5

tax = 0.2


print(f'Tax: {price * tax:.2f}')
print(f'Total price: {price * (1 + tax):.2f}')

Tax: 199.90
Total price: 1199.40

**Task 6.**
Доход компании — 1578934.55 грн, расходы — 894732.67 грн.  
Найдите чистую прибыль с точностью до двух знаков после запятой, используя decimal.Decimal.

In [19]:
from decimal import Decimal

income = Decimal('1578934.55')
expenses = Decimal('894732.67')


profit = income - expenses
print(f'Profit: {profit:.2f}')

Profit: 684201.88

**Task 7.**
Если цена товара больше 500 грн, применяется скидка 10%, иначе 5%. Напишите логическое выражение, которое выбирает нужную скидку.

In [21]:
price = int(input('price>>'))

discount = (price > 500) * 0.1 + (price <= 500) * 0.05
print(f'Discount: {price * discount:.2f}')

price>>100
Discount: 5.00

**Task 8.**
Цена товара 349.75 грн. Нужно проверить, входит ли она в диапазон от 300 до 500 грн включительно

In [23]:
price = 1349.75
print(300 <= price <= 500)

False

**Task 9.**
У клиента есть скидка по промокоду, но она применяется только если цена товара больше 100 грн и скидка не превышает 20% от стоимости товара.
Определите, будет ли применен промокод при Price = 150.45 и Discount = 15%.

In [30]:
price = 150.45
discount = 0.15

res = (price * discount <= 0.2 * price) * (price > 100)
print(res)


print(bool(res))

1
True

**Task 10.**
Компания тестирует две схемы скидок:
-  схема A: фиксированная скидка 50 у.е.
-  схема B: скидка 8% от цены.
При какой минимальной цене товара схема B становится выгоднее для покупателя?

In [31]:
A = 50
B = 0.08

print(A / B)

625.0

**Task 11.**
В разных странах используют разные методы округления налогов:
-  в США округляют вниз
-  в ЕС округляют к ближайшему
-  в Японии округляют вверх  
Для суммы налога 23.5678 покажите, какие значения получатся при разных методах округления

In [35]:
from decimal import Decimal, ROUND_FLOOR, ROUND_CEILING, ROUND_HALF_UP

tax = Decimal('23.5678')


print(f'USA: {tax.quantize(Decimal('0.01'), rounding=ROUND_FLOOR)}')
print(f'EU: {tax.quantize(Decimal("0.01"), rounding=ROUND_CEILING)}')
print(f'Japan: {tax.quantize(Decimal("0.01"), rounding=ROUND_HALF_UP)}')

USA: 23.56
EU: 23.57
Japan: 23.57

**Task 12.**
Вычислите разницу в расчете валютных операций при float и decimal.Decimal:
конвертируйте 1000 евро в доллары при курсе 1.0873.
Сравните результат округления до двух знаков после запятой при использовании float и Decimal.

In [37]:


amount = 1000
rate = Decimal('1.0873')

print(f'Float: {(amount * rate):.2f}')
print(f'Decimal: {(amount * rate).quantize(Decimal("0.01"))}')

print(f'Decimal: {(amount * rate).quantize(Decimal("0.01"), rounding=ROUND_CEILING)}')
print(f'Decimal: {(amount * rate).quantize(Decimal("0.01"), rounding=ROUND_FLOOR)}')
print(f'Decimal: {(amount * rate).quantize(Decimal("0.01"), rounding=ROUND_HALF_UP)}')

Float: 1087.30
Decimal: 1087.30
Decimal: 1087.30
Decimal: 1087.30
Decimal: 1087.30

**Task 13.**
Банк начисляет проценты на вклад и использует банковское округление (до ближайшего четного числа после запятой). Какую сумму получит клиент через год, если у него на счету 1000.005 у.е., а ставка — 3.5%? Как изменится результат, если использовать стандартное округление ROUND_HALF_UP?

**Task 14.**
В стране X убрали монеты номиналом 1 и 2 цента, поэтому цены округляют до ближайших 5 центов.
Какую сумму заплатит покупатель, если изначально она составляла 12.83, 14.88 и 19.92 у.е.?

In [46]:
a = Decimal('12.83')
b = Decimal('14.88')
c = Decimal('19.92')

print(a / Decimal('0.05'))
print((a / Decimal('0.05')).quantize(Decimal(0), rounding=ROUND_HALF_UP) * Decimal('0.05'))

256.6
12.85

**Task 15.**
В университете оценки округляют по следующему правилу:
Если дробная часть ≥ 0.75, округляют вверх.
Если ≤ 0.25, округляют вниз.
Если 0.26 – 0.74, округляют к ближайшему 0.5.
Какую итоговую оценку получит студент, если его средний балл: 3.24, 4.77, 3.68, 2.50?

**Task 16.**
Компания платит зарплату с точностью до целого числа, округляя вниз (floor).
Если сотруднику начислили 2350.89 у.е., сколько он получит?
А если округление происходит до ближайшей десятки?

**Task 17.**
У вас есть 1000 транзакций по 1.005 у.е. Каждая округляется до двух знаков (ROUND_HALF_UP).
Какова разница между суммой после округления каждой транзакции отдельно и округлением итоговой суммы?