<a href="https://colab.research.google.com/github/cpython-projects/da_1709/blob/main/lesson_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
DB_NAME = 'school'

In [3]:
conn = sqlite3.connect(f'{DB_NAME}.db')

In [4]:
type(conn)

sqlite3.Connection

In [7]:
cursor = conn.cursor()

In [5]:
create_students = """
  CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    gender TEXT NOT NULL,
    phone_number TEXT NOT NULL,
    email TEXT
  );
"""

In [14]:
cursor.execute(create_students)

In [17]:
create_teachers = """
CREATE TABLE IF NOT EXISTS teachers (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL
);
"""

In [18]:
cursor.execute(create_teachers)

In [21]:
create_courses = """
CREATE TABLE IF NOT EXISTS courses (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL
);
"""

In [22]:
cursor.execute(create_courses)

In [25]:
create_group = """
CREATE TABLE IF NOT EXISTS groups (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    course_id INTEGER NOT NULL,
    FOREIGN KEY (course_id) REFERENCES courses (id)
);
"""

In [26]:
cursor.execute(create_group)

In [28]:
students_in_groups = """
CREATE TABLE IF NOT EXISTS students_in_groups (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    student_id INTEGER NOT NULL,
    group_id INTEGER NOT NULL,
    FOREIGN KEY (student_id) REFERENCES students (id),
    FOREIGN KEY (group_id) REFERENCES groups (id)
);
"""

In [29]:
cursor.execute(students_in_groups)

In [30]:
teachers_in_groups = """
CREATE TABLE IF NOT EXISTS teachers_in_groups (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    teacher_id INTEGER NOT NULL,
    group_id INTEGER NOT NULL,
    FOREIGN KEY (teacher_id) REFERENCES teachers (id),
    FOREIGN KEY (group_id) REFERENCES groups (id)
);
"""

In [31]:
cursor.execute(teachers_in_groups)

In [32]:
conn.close()

In [ ]:
import pandas as pd

df = pd.read_sql_query('SELECT * FROM students', conn)
df.head()