<a href="https://colab.research.google.com/github/cpython-projects/da_1709/blob/main/lesson_05_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1.** Напишите программу, которая выводит все четные числа от 1 до 20.

In [2]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

**Task 2.** Напишите программу, которая суммирует все числа от 1 до 100.

In [5]:
total = sum(range(1, 101))
print(total)

5050

**Task 3.** Напишите программу, которая просит пользователя ввести число и продолжает спрашивать, пока не будет введено число, кратное 3.

In [6]:
while True:
    num = int(input("Введите число: "))
    if num % 3 == 0:
        break

Введите число: 4
Введите число: 5
Введите число: 6

In [8]:
while int(input("Введите число: ")) % 3:
    ...

Введите число: 5
Введите число: 6

In [10]:
while (x := int(input("Введите число: "))) % 3:
    print(x ** 2)

Введите число: 4
16
Введите число: 5
25
Введите число: 6

**Task 4.** Напишите программу, которая запрашивает у пользователя числа и выводит их сумму, пока сумма не превысит 100.

In [11]:
total = 0
while total < 100:
  ans = int(input('>>>'))
  total += ans

print(total)

>>>7
>>>8
>>>9
>>>50
>>>50
124

**Task 5.** Напишите программу, которая просит пользователя вводить числа до тех пор, пока он не введет два подряд одинаковых числа.

In [14]:
num1 = int(input("Введите число: "))
while (num2 := int(input("Введите число: "))) != num1:
    num1 = num2

Введите число: 2
Введите число: 3
Введите число: 4
Введите число: 5
Введите число: 5

**Task 6.** Напишите скрипт, который выводит целые числа от 1 до 200, используя цикл while. В одной строке необходимо вывести только пять целых чисел.
Например:  
1 2 3 4 5  
6 7 8 9 10  
11 12 13 14 15  
...

In [15]:
i = 1
while i <= 200:
    print(i, end=' ')
    if not i % 5:
        print()
    i += 1

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25
26 27 28 29 30
31 32 33 34 35
36 37 38 39 40
41 42 43 44 45
46 47 48 49 50
51 52 53 54 55
56 57 58 59 60
61 62 63 64 65
66 67 68 69 70
71 72 73 74 75
76 77 78 79 80
81 82 83 84 85
86 87 88 89 90
91 92 93 94 95
96 97 98 99 100
101 102 103 104 105
106 107 108 109 110
111 112 113 114 115
116 117 118 119 120
121 122 123 124 125
126 127 128 129 130
131 132 133 134 135
136 137 138 139 140
141 142 143 144 145
146 147 148 149 150
151 152 153 154 155
156 157 158 159 160
161 162 163 164 165
166 167 168 169 170
171 172 173 174 175
176 177 178 179 180
181 182 183 184 185
186 187 188 189 190
191 192 193 194 195
196 197 198 199 200

In [16]:
i = 1
while i <= 200:
  print(*range(i, i + 5))
  i += 5

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25
26 27 28 29 30
31 32 33 34 35
36 37 38 39 40
41 42 43 44 45
46 47 48 49 50
51 52 53 54 55
56 57 58 59 60
61 62 63 64 65
66 67 68 69 70
71 72 73 74 75
76 77 78 79 80
81 82 83 84 85
86 87 88 89 90
91 92 93 94 95
96 97 98 99 100
101 102 103 104 105
106 107 108 109 110
111 112 113 114 115
116 117 118 119 120
121 122 123 124 125
126 127 128 129 130
131 132 133 134 135
136 137 138 139 140
141 142 143 144 145
146 147 148 149 150
151 152 153 154 155
156 157 158 159 160
161 162 163 164 165
166 167 168 169 170
171 172 173 174 175
176 177 178 179 180
181 182 183 184 185
186 187 188 189 190
191 192 193 194 195
196 197 198 199 200

**Task 7.** Напишите скрипт, который вычисляет с помощью цикла факториал числа n (n вводится с клавиатуры).

In [18]:
# n! = 1 * 2 ... * n
# 0! = 1
n = int(input("Введите число: "))
if n < 0:
    print("Факториала нет")
else:
    total = 1
    for i in range(2, n + 1):
        total *= i
    print(total)

Введите число: 5
120

**Task 8.**
Создайте список случайных чисел (размером 4 элемента).
Создайте второй список в два раза больше первого, где первые 4 элемента должны быть равны элементам первого списка, а остальные элементы - удвоенным значениям начальных. Например:  
Было → [1,4,7,2]  
Стало → [1,4,7,2,2,8,14,4]

In [20]:
import random as rnd


x = [rnd.randint(1, 10) for _ in range(5)]
print(x)

[9, 9, 4, 7, 1]

In [21]:
y = x + [2 * item for item in x]
print(y)

[9, 9, 4, 7, 1, 18, 18, 8, 14, 2]

**Task 9.** Создайте список из 12 элементов. Каждый элемент этого списка является зарплатой работника за месяц. Выведите этот список на экран и вычислите среднемесячную зарплату этого работника.

In [22]:
salarys = [rnd.randint(1000, 10000) for _ in range(12)]
print(salarys)
print(sum(salarys) / len(salarys))

[9819, 7120, 9715, 3698, 5220, 8729, 9626, 8835, 6999, 1955, 3493, 8390]
6966.583333333333

**Task 10.** Есть матрица  
[1, 2, 3, 4]  
[5, 6, 7, 8]  
[9, 10, 11, 12]  
[13, 14, 15, 16]  
Напишите скрипт, который выведет эту матрицу на экран, вычислит и выведет сумму элементов этой матрицы.

In [25]:
x = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

total = 0
for row in x:
    total += sum(row)
print(total)

136

**Task 11.** Напишите код для зеркального переворота списка [7,2,9,4] -> [4,9,2,7]. Список может быть произвольной длины.

In [26]:
x = [7, 2, 9, 4]

y = x[::-1]

print(x, y, sep='\n')

[7, 2, 9, 4]
[4, 9, 2, 7]

In [27]:
x = [7, 2, 9, 4]
x.reverse()
print(x)

[4, 9, 2, 7]

In [28]:
x = [7, 2, 9, 4]
for item in reversed(x):
    print(item)

4
9
2
7

**Task 12.** Проверка на монотонное возрастание. Дана последовательность чисел (ввод по одному числу, 0 — конец ввода). Определи, идет ли последовательность строго по возрастанию.

In [29]:
x = []
while (ans := int(input('>>'))):
  x.append(ans)

print(x)

>>3
>>4
>>56
>>12
>>23
>>0
[3, 4, 56, 12, 23]

In [30]:
for i in range(1, len(x)):
  if x[i - 1] > x[i]:
    print('NO')
    break
else:
  print('YES')

NO

**Task 13.** Пользователь вводит последовательность чисел, каждое с новой строки. Ввод завершается числом 0. Необходимо найти все числа, которые отклоняются от среднего значения последовательности более чем на 10%

In [36]:
import statistics

x = []
while (ans := int(input('>>'))):
  x.append(ans)

avg = statistics.mean(x)

avg_90 = 0.9 * avg
avg_110 = 1.1 * avg

for item in x:
  if avg_90 <= item <= avg_110:
    continue
  print(item)

>>5
>>6
>>7
>>8
>>0
5
8