<a href="https://colab.research.google.com/github/cpython-projects/da_1709/blob/main/lesson_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# WHILE

In [2]:
i = 1
while i < 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9

In [5]:
income = [100, 200, 300, 40, 50, 100, 123, 345, 55, 99]
total = 0
x = 2000
i = 0
while i < len(income) and total < x:
  total += income[i]
  i += 1

print(f'day: {i + 1}, amount: {total}')

day: 11, amount: 1412

In [8]:
x = [1, 2, 3, 4, 5]

i = 0
total = 0

while i < len(x) and total + x[i] < 1000:
  total += x[i]
  i += 1

print(i)

5

In [10]:
# break, continue


x = [1, 1, 3, 4, 5, 56, 7]
total = 0

i = 0
while i < len(x):
  if not x[i] % 2:
    break
  total += x[i]
  i += 1

print(total)

5

In [15]:
x = [1, 2, 3]

total = 0
i = 0

while i < len(x):

  if x[i] % 2:
    total += x[i]
  i += 1

print(total)

4

In [16]:
total = 0

while True:
  x = int(input('x>>'))
  if x == 0:
    break
  total += x

print(total)

x>>78
x>>656
x>>45
x>>87
x>>56
x>>0
922

In [17]:
x = [1, 2, -3, 4, -5, 43, -23, 23]
total = 0
for item in x:
  if item > 0:
    total += item

print(total)

73

# Задачи

**1. Очистка данных (простое удаление значений)**

У тебя есть список значений с пропусками:

```python
data = [120, None, 150, 200, None, 175, 190]
```

**Задача:** убрать `None` и получить чистый список.

In [19]:
data = [120, None, 150, 200, None, 175, 190]

x = []

for item in data:
  if item is not None:
    x.append(item)

print(x)

[120, 150, 200, 175, 190]

In [23]:
import statistics

data = [120, None, 150, 200, None, 175, 190]


avg = 0
count = 0

for item in data:
  if item is not None:
    avg += item
    count += 1

avg = avg / count
print(avg)



for i, item in enumerate(data):
  if item is None:
    data[i] = avg

print(data)

167.0
[120, 167.0, 150, 200, 167.0, 175, 190]

In [22]:
x = [0, 10]

y = x[0]

y = 100


print(x)

[0, 10]

**2. Работа с уникальными значениями (сортировка дат)**

Список дат посещений:

```python
dates = ["2025-01-05", "2025-01-07", "2025-01-05", "2025-01-09", "2025-01-07"]
```

**Задача:** оставить только уникальные даты и отсортировать их.

In [25]:
dates = ["2025-01-05", "2025-01-07", "2025-01-05", "2025-01-09", "2025-01-07"]

unique_dates = []

for item in dates:
  if item not in unique_dates:
    unique_dates.append(item)

print(unique_dates)

['2025-01-05', '2025-01-07', '2025-01-09']

In [26]:
import datetime

for i, item in enumerate(unique_dates):
  unique_dates[i] = datetime.datetime.strptime(item, '%Y-%m-%d')

print(unique_dates)

[datetime.datetime(2025, 1, 5, 0, 0), datetime.datetime(2025, 1, 7, 0, 0), datetime.datetime(2025, 1, 9, 0, 0)]

In [27]:
unique_dates.sort()
print(unique_dates)

[datetime.datetime(2025, 1, 5, 0, 0), datetime.datetime(2025, 1, 7, 0, 0), datetime.datetime(2025, 1, 9, 0, 0)]

**3. Подсчёт конверсии**

Список пользователей и факт покупки:

```python
users = ["Anna", "Boris", "Clara", "David", "Eva"]
purchases = [1, 0, 1, 0, 1]  # 1 — покупка, 0 — нет
```

**Задача:** посчитать долю пользователей, которые совершили покупку.

In [29]:
users = ["Anna", "Boris", "Clara", "David", "Eva"]
purchases = [1, 0, 1, 0, 1]  # 1 — покупка, 0 — нет

number_of_users = len(users)
number_of_orders = sum(purchases)

conversion = number_of_orders / number_of_users

print(conversion)

0.6

**4. Проверка тренда**

Данные о посещениях сайта по дням:

```python
visits = [100, 120, 130, 140, 200, 220, 210]
```

**Задача:** проверить, растёт ли список посещений (каждое следующее значение ≥ предыдущего).

In [30]:
visits = [100, 120, 130, 140, 200, 220, 210]

trend = sorted(visits)

result = 'Yes' if visits == trend else 'No'
print(result)

No

In [31]:
visits = [100, 120, 130, 140, 200, 220, 210]

trend = True

for i in range(1, len(visits)):
  if visits[i] < visits[i - 1]:
    trend = False
    break

result = 'Yes' if trend else 'No'
print(result)

No

**5. Разделение на группы (частые и редкие)**

Данные о количестве сессий на пользователя:

```python
sessions = [5, 12, 7, 20, 3, 8, 15, 10]
```

**Задача:** разделить пользователей на две группы:

* "частые" (>=10)
* "редкие" (<10).

In [32]:
sessions = [5, 12, 7, 20, 3, 8, 15, 10]

group_1 = []
group_2 = []

for item in sessions:
  if item >= 10:
    group_1.append(item)
  else:
    group_2.append(item)

print(group_1)
print(group_2)

[12, 20, 15, 10]
[5, 7, 3, 8]

**6. Средний рост пользователей по полу**

Рост и пол пользователей:

```python
heights = [170, 165, 180, 155, 175, 160]
gender = ["M", "F", "M", "F", "M", "F"]
```

**Задача:** посчитать средний рост отдельно для мужчин и отдельно для женщин.

In [37]:
import statistics

heights = [170, 165, 180, 155, 175, 160]
gender = ["M", "F", "M", "F", "M", "F"]


h_f = []
h_m = []

for i, item in enumerate(gender):
  if item == 'F':
    h_f.append(heights[i])
  else:
    h_m.append(heights[i])

print(f'Average height of women: {statistics.mean(h_f):.0f}')
print(f'Average height of men: {statistics.mean(h_m):.0f}')

Average height of women: 160
Average height of men: 175

In [43]:
x = [1, 2, 3, 4, 5, 6, 7]
y = ['one', 'two', 'three']
z = ['a', 'b', 'c']

res = list(zip(y, x, z))
res

[('one', 1, 'a'), ('two', 2, 'b'), ('three', 3, 'c')]

In [44]:
import statistics

heights = [170, 165, 180, 155, 175, 160]
gender = ["M", "F", "M", "F", "M", "F"]


h_f = []
h_m = []

for h, g in zip(heights, gender):
  if g == 'F':
    h_f.append(h)
  else:
    h_m.append(h)

print(f'Average height of women: {statistics.mean(h_f):.0f}')
print(f'Average height of men: {statistics.mean(h_m):.0f}')

Average height of women: 160
Average height of men: 175

**7. Нормализация данных**

Оценки пользователей:

```python
scores = [10, 20, 30, 40, 50]
```

**Задача:** перевести значения в шкалу от 0 до 1 (**min–max нормализация**).

**8. Скользящее среднее**

Продажи по дням:

```python
sales = [100, 120, 130, 90, 80, 150, 170, 160]
```

**Задача:** посчитать **3-дневное скользящее среднее**.

In [45]:
import random

random.random()

0.899716895411339

In [46]:
random.randint(1, 10)

6

In [47]:
random.randrange(1, 10, 2)

1

In [58]:
x = [1, 2, 3, 4]

random.shuffle(x)

print(x)

[4, 3, 1, 2]

In [65]:
random.choice(x)

1

In [75]:
random.choices(x, k=2)

[3, 2]

In [80]:
x = []

for i in range(10):
  tmp = random.randint(1, 100)
  x.append(tmp)

print(x)

[84, 63, 88, 8, 84, 26, 49, 56, 98, 100]

In [83]:
x = [random.randint(1, 100) for i in range(10)]
print(x)

[72, 34, 51, 35, 69, 48, 88, 20, 41, 55]

In [84]:
x = [7, 8, 9, 5, 3]

y = [item * 2 for item in x]

print(y)

[14, 16, 18, 10, 6]