<a href="https://colab.research.google.com/github/cpython-projects/da_1709/blob/main/lesson_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задачи

**1. Среднее арифметическое оценок**

Список оценок студента:

```python
grades = [67, 75, 80, 95, 100, 72, 88]
```

Посчитать среднее арифметическое.

**2. Медиана зарплат**

Список зарплат сотрудников (грн):

```python
salaries = [12000, 15000, 17000, 90000, 13000, 14000]
```

Найти медиану

**3. Усечённое среднее для доходов**

Список доходов людей (грн):

```python
incomes = [10000, 11000, 12000, 15000, 200000, 25000, 9000]
```

Отбросить верхние и нижние 10% значений и посчитать среднее по оставшимся.

**4. Диапазон значений (размах)**

Список количества заказов пользователей:

```python
orders = [2, 5, 7, 3, 100, 4]
```

Найти размах (max - min)

**5. Межквартильный размах (IQR)**

Список времени (мин) в приложении:

```python
minutes = [5, 6, 7, 7, 8, 9, 20, 25, 30, 100]
```

Найти Q1, Q3 и межквартильный размах

**6. Рейтинг товаров**

```python
ratings = [4.8, 4.2, 3.9, 4.7, 4.0, 2.5, 5.0]
```

Вернуть **топ-3 значения**