<a href="https://colab.research.google.com/github/cpython-projects/da_1709/blob/main/lesson_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
hash(1)

1

In [2]:
hash('1')

4051054678285862260

In [3]:
x = 'Python'

In [4]:
y = 'Python'

In [5]:
id(x), id(y)

(10690016, 10690016)

In [6]:
x = [1, 2]
hash(x)

TypeError: unhashable type: 'list'

In [7]:
x = (1, 2, 3)
hash(x)

529344067295497451

In [8]:
x = ([1, 2, 3], 4)
x

([1, 2, 3], 4)

In [9]:
hash(x)

TypeError: unhashable type: 'list'

In [11]:
x = {1: 'one', 2: 'two', 3: 'three', 1: 'odyn'}
x

{1: 'odyn', 2: 'two', 3: 'three'}

In [12]:
x[1] = 'one'
x

{1: 'one', 2: 'two', 3: 'three'}

In [13]:
x['four'] = 4
x

{1: 'one', 2: 'two', 3: 'three', 'four': 4}

In [14]:
x[2] = 'dva'
x

{1: 'one', 2: 'dva', 3: 'three', 'four': 4}

In [15]:
del x[1]
x

{2: 'dva', 3: 'three', 'four': 4}

In [16]:
x[5] = 'three'

x

{2: 'dva', 3: 'three', 'four': 4, 5: 'three'}

In [17]:
x

{2: 'dva', 3: 'three', 'four': 4, 5: 'three'}

In [19]:
for key in x:
  print(key)

2
3
four
5

In [20]:
for key in x:
  print(key, x[key])

2 dva
3 three
four 4
5 three

In [22]:
for key, value in x.items():
  print(key, value)

2 dva
3 three
four 4
5 three

In [23]:
x = {1: 'one', 2: 'two', 3: 'three'}

In [24]:
x[1]

'one'

In [25]:
x[4]

KeyError: 4

In [26]:
if 4 in x:
  x[4]

In [27]:
x.get(2)

'two'

In [29]:
x.get(4, 'Error')

'Error'

In [30]:
text = input('text>>>')

text>>>Hello world! Python

In [31]:
res = {}

for item in text:
  if item in res:
    res[item] += 1
  else:
    res[item] = 1

print(res)

{'H': 1, 'e': 1, 'l': 3, 'o': 3, ' ': 2, 'w': 1, 'r': 1, 'd': 1, '!': 1, 'P': 1, 'y': 1, 't': 1, 'h': 1, 'n': 1}

*Посчитать сколько раз встречается каждое слово в тексте*

In [33]:
text = input('>>').lower()

import string

for item in string.punctuation:
  text = text.replace(item, ' ')

words = text.split()

res = {}
for word in words:
  if word in res:
    res[word] += 1
  else:
    res[word] = 1

print(res)

>>Hello hello HELLO
{'hello': 3}

In [47]:
x = [1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 4, 5, 5, 5]

from collections import Counter

res = Counter(x)
print(res)

Counter({1: 6, 2: 3, 5: 3, 3: 1, 4: 1})

In [48]:
res.most_common(3)

[(1, 6), (2, 3), (5, 3)]

In [35]:
data = [
    '1 Bob Simson 19.58$ Decorations',
    '2 Mary 66.7$ food',
    '3 Mary 98.91$ toys',
    '4 Aleksa 72.29$ drinks',
    '5 Maria Simson 84.48$ food',
    '6 Aleksa 100.41$ Accessories',
    '7 Mary 19.9$ accessories',
    '8 Bob Simson 83.88$ drinks',
    '9 Bob Simson 58.21$ instruments',
    '10 Maria Simson 20.61$ accessories',
]

In [40]:
res = {}

for line in data:
  tmp = line.split()
  category, money = tmp[-1].strip().lower(), float(tmp[-2].replace('$', ''))

  res[category] = res.get(category, 0) + money

  # if category in res:
  #   res[category] += money
  # else:
  #   res[category] = money

print(*res.items(), sep='\n')

('decorations', 19.58)
('food', 151.18)
('toys', 98.91)
('drinks', 156.17000000000002)
('accessories', 140.92000000000002)
('instruments', 58.21)

In [42]:
group = [
 {
    'id': 1,
    'name': 'Oleh',
    'number': '234567',

},
{
    'id': 2,
    'name': 'Alice',
    'number': '234467'
},
{
    'id': 3,
    'name': 'Bob',
    'number': '434567'
}
]

for item in group:
  print(item.get('name', 'Unknown'))

Oleh
Alice
Bob

In [43]:
student = {
    'id': 1,
    'name': 'Oleh',
    'number': '234567',
    'points': {
        'python': 5,
        'java': 5,
        'c++': 4
    }
}

In [46]:
student['points']['python']

5